.projectsSpace {
  display: flex;
  justify-content: space-around;
  align-content: center;
  flex-wrap: wrap;
  margin-bottom: 2%;
}
.projecto1 {
  width: 45%;
  margin-top: 5%;
  margin-left: 2%;
  margin-right: 2%;
  text-align: center;
}
.projecto1 p {
  margin-top: 10%;
}
.reformasImg1,
.reformasImg2,
.reformasImg3,
.reformasImg4,
.reformasImg5,
.reformasImg6 {
  margin-top: 5%;
  margin-bottom: 5%;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  background-size: cover;
  height: 400px;
}
.reformasImg1 {
  background-image: url("../Imagenes/Reformas/1Fachadas.webp");
}
.reformasImg2 {
  background-image: url("../Imagenes/Reformas//2PInt.webp");
}
.reformasImg3 {
  background-image: url("../Imagenes/Reformas/3RefEstruct.webp");
}
.reformasImg4 {
  background-image: url("../Imagenes/Reformas/4Cubiertas.webp");
}
.reformasImg5 {
  background-image: url("../Imagenes/Reformas/5RefInt.webp");
}
.reformasImg6 {
  background-image: url("../Imagenes/Reformas/6Retail.webp");
}

@media only screen and (max-device-width: 370px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  .imgSuperior h1 {
    font-size: 22px;
  }
  .projectsSpace {
    display: block;
    margin-left: 30px;
  }
  .projectsSpace p {
    font-size: 14px;
  }

  .projecto1,
  .projecto2,
  .projecto3,
  .projecto4,
  .projecto5,
  .projecto6 {
    width: 84%;
  }
  .reformasImg1,
  .reformasImg2,
  .reformasImg3,
  .reformasImg4,
  .reformasImg5,
  .reformasImg6 {
    height: 250px;
    margin-bottom: 30px;
  }
}
@media only screen and (min-device-width: 375px) and (max-device-width: 720px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  .imgSuperior h1 {
    font-size: 24px;
  }
  .projectsSpace {
    display: block;
    margin-left: 40px;
  }
  .projecto1,
  .projecto2,
  .projecto3,
  .projecto4,
  .projecto5,
  .projecto6 {
    width: 84%;
  }

  .reformasImg1,
  .reformasImg2,
  .reformasImg3,
  .reformasImg4,
  .reformasImg5,
  .reformasImg6 {
    height: 250px;
    margin-bottom: 30px;
  }
}
