body {
  margin: 0;
  font-family: "Roboto Condensed", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "Roboto Condensed", sans-serif;
}
:root {
  --myOrange: #b3e0f2;
  --myGreen: #7dbe16;
  --myGrey: #52616b;
  /*--myWhite: #52616b;*/
  --myWhite: #ebeff2;
  /*--myWhite: #ffffff;*/
  /*--myOrange: #fe5000;*/
  /*Triada
  Amarillo #EBEA7C
  Vino #6B5352
  Azul #86A9C0
  Verde-Gris #6B6B52*/
}
